.orderHistoryhead {
  position: relative;
  width: 800px;
  height: 800px;
  background-color: white;
}

.orderHistoryhead .historyText {
  font-family: "Patrick Hand SC", cursive;
  font-size: 55px;
  letter-spacing: 0.08em;
  position: relative;
  top: 20px;
  margin-left: 30px;
}

.orderHistoryhead .csButton {
  position: relative;
  top: -70px;
  margin-left: 1150px;
  width: 310px;
  height: 55px;
  background-color: green;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.1em;
  border-radius: 10px;
  border: none;
}

.orderHistoryhead .productHistory {
  position: relative;
  top: -10px;
  margin-left: 10px;
  width: 1143px;
  height: 288px;
  left: 149px;
  background-color: lightgray;
  border-radius: 10px;
}
.orderHistoryhead .productHistory2 {
  position: relative;
  top: 30px;
  margin-left: 10px;
  width: 1143px;
  height: 288px;
  left: 149px;
  background-color: lightgray;
  border-radius: 10px;
}

.orderHistoryhead .bgcolor1 {
  position: absolute;
  top: 159px;
  margin-left: 150px;
  width: 197px;
  height: 288px;
  background-color: orange;
  border-radius: 10px;
}

.orderHistoryhead .bgcolor2 {
  position: absolute;
  top: 487px;
  margin-left: 150px;
  width: 197px;
  height: 288px;
  background-color: green;
  border-radius: 10px;
}

.orderHistoryhead .dispatchedtext {
  position: relative;
  margin-left: 30px;
  top: 20px;
  font-family: "Rajdhani", sans-serif;
  color: orange;
  font-weight: 501;
}

.orderHistoryhead .deliveredtext {
  position: relative;
  margin-left: 30px;
  top: 20px;
  font-family: "Rajdhani", sans-serif;
  color: green;
  font-weight: 501;
}

.orderHistoryhead .plant-image {
  width: 150px;
  height: 150px;
  position: relative;
  top: 35px;
  margin-left: 30px;
}

.orderHistoryhead .quantityText {
  position: relative;
  top: -45px;
  margin-left: 670px;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;

  letter-spacing: 0.1em;

  color: #000000;
}

.orderHistoryhead .trackButton {
  position: relative;
  margin-left: 900px;
  top: -210px;
  width: 200px;
  height: 50px;
  background-color: green;
  color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 33px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.orderHistoryhead .viewButton {
  position: relative;
  margin-left: 900px;
  top: -180px;
  width: 200px;
  height: 50px;
  background-color: lightgray;
  color: black;
  border-radius: 10px;
  border: 1px solid black;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 33px;
  letter-spacing: 0.1em;
}

.orderHistoryhead .invoiceButton {
  position: relative;
  margin-left: 900px;
  top: -150px;
  width: 200px;
  height: 50px;
  background-color: lightgray;
  color: black;
  border-radius: 10px;
  border: 1px solid black;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 33px;
  letter-spacing: 0.1em;
}

.orderHistoryhead .loadButton {
  position: relative;
  margin-left: 500px;
  top: -106px;
  width: 190px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
  color: black;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 0.6);
}
